<!DOCTYPE html>
<html lang="en">
<head>
    <title>Converted Amount</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Converted Amount</h2>
        <p><%= amount %> <%= fromCurrency %> = <%= convertedAmount %> <%= toCurrency %></p>
        <a href="/">Convert Again</a>
    </div>
</body>
</html>
